
*{
    color: #D6E4E5 !important;
}
body{
    background-color: #193441 !important;
    padding-bottom: 30px;
}
h2{
      font-size: 40px;
}
header h1{
    font-size: 60px;
}
header a{
    font-size: 20px;

}
/*نوار جستجو*/
header #searchDiv{
    
    background-color:#EB6440;
    margin-top: 10px;
    width: 230px;
    height: 30px;
    padding: 0 20px;
    font-size: 12px;
    cursor: pointer;
}
#searchDiv img{
    width: 15.7px;
    height: 15.7px;
}
 #boxSearch{
    height: 47px;
    text-align: center;
    color: #EB6440;
}
#boxSearch input{
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    height: 34px;
}
#boxSearch input::placeholder{
    color: #ffff;
}
#boxSearch img{
  width: 16.7px;
  height: 16.7px;
  cursor: pointer;
}
/*نتیجه جستحو*/
#divCartSearch{
    height: 130px;
    background-color: #D6E4E5;
}
.artistName{
    color: #193441 !important;
}
#divCartSearch > img{
  width: 130px;
  height: 110px;
}
.imgP{
    color: #EB6440;
}
#divCartSearch a img{
    width:30px;
    height: 30px;
}
/*carousel*/
.carousel {
    width: 300px;
    height:400px;
}
.carousel img{
    height: 400px;
}
.carousel-caption{
    top: 0;
    left: -40% !important;
} 
.carousel-caption button{
    background-color: #3E606F;
    width: 157.18px;
    height:42.64px;
    border-radius: 50px;
    border: none;
    font-size: 17px;
}
.carousel-caption img{
    width: 33.39px;
    height: 33.39px;
}
/*جزئیات آهنگ ها*/
#details .bg-blur img{
    height:200px ;
    opacity: 0;
    margin-top: 30px;
    filter: blur(10px);
    border-radius: 20px;
}
#details  button{
    width: 120px;
    height: 34px;
    border-radius: 20px;
    background-color: #EB6440;
    border: none;
    font-size:12px;
}
.pt-3{
    color: #193441 !important;
    font-weight: bold;
}
#details .top-cart{
    height: 396px;
    background-color:#D9D9D940;
    border-radius: 15px;
    top: -310px;
    padding-top: 20px;
}
#details .top-cart img{
    width: 300px;
    height:300px ;
}
#details .bottom-cart{
    top: -410px;
    z-index: 5;
    height: 200px;
    border-radius: 20px;
    background: rgba(255, 255, 255, .3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
@media only screen and (max-width:900px){
    #details .top-cart{
        top:0;
    }
#details .bottom-cart{
    top: -100px;
}
#details .top-cart img{
    width: 100%;
}
#details .col-download{
    margin-top: -50px;
}

.carousel-caption{
    left: -30% !important;
} 
}
#details .play img{
    width: 33.39px;
    height: 33.39px;
}
#details .play button{
    border: none;
    background: none;
}
#details .progressbar-div{
    width: 90%;
    margin: 0 auto;
    height: 4px;
    background-color: #193441;
    position: relative;
    cursor: pointer;
}
#details .progress-div{
    height: 100%;
    position: absolute;
    background-color: #EB6440;
}
#details .duration-ct{
    font-size: 10px;
}
#details .a-details{
    font-size: 20px;
}
/* top */
#topComponent{
    background-color: #3E606F;
}
#topComponent img{
    border-radius: 20px;
}
/*trending Artists*/
.trendingA{
    background-color: #3E606F;
}
.trendingA img{
    border-radius: 10%;
}
.link-play {
    bottom: -40px;
    right: 40px;
    transition: 0.5s;
}
.link-play img{
    width: 33.39px;
    height: 33.39px;
}
.container-play-icon{
    cursor: pointer;
}
.container-play-icon:hover .link-play{
    bottom: 20px;
}